extensions:
    dravencms.partner: Dravencms\Partner\DI\PartnerExtension


nettrine.orm:
    managers:
        default:
            mapping:
                DravencmsPartner:
                    type: attributes
                    directories:
                        - %appDir%/../vendor/dravencms/partner/src/Dravencms/Model/Partner/Entities
                    namespace: Dravencms\Model\Partner
