{block #content}
    <p n:isAllowed="partner, edit">
        <a n:href="Partner:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New partner"}</a>
    </p>
    {control gridPartner}
{/block}