- Dravencms\Model\Partner\Repository\PartnerRepository
- Dravencms\Model\Partner\Repository\PartnerTranslationRepository

- Dravencms\Model\Partner\Fixtures\AclOperationFixtures
- Dravencms\Model\Partner\Fixtures\AclResourceFixtures
- Dravencms\Model\Partner\Fixtures\AdminMenuFixtures